body { 
    background-color: lightgray;
    
   
}

 html {
    overflow-y:auto;
    overflow-x: hidden;
}


.eren { 
    width: 1555px;
    height: 500px;
    display: flex;
    margin-left: -1%;
    margin-top: -1%;
}


#menu { 
    background-color: #292021;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0%;
    margin-left: -1%;
    margin-right: -1%;
    width: 1535px;
    
}

a { 
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}



.title { 
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #292021;
    background-color: #CCAC85;
    margin-top: 0%;
    margin-left: -1%;
    margin-right: -1%;
    font-style: italic;
    border: 1px solid black;
    padding: 15px;
    width: 1522.5px;
    }

.text { 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #292021;
    font-weight: 500;
    font-style: italic;
}